--color-text: #efe1b2;
--color-text-rgb: 239, 225, 178;
--color-body-text: #efe1b2;
--color-sale-text: #EA0606;
--color-small-button-text-border: #3a3a3a;
--color-text-field: #3a3a3a;
--color-text-field-text: #efe1b2;
--color-text-field-text-rgb: 239, 225, 178;
--color-btn-primary: #efe1b2;
--color-btn-primary-darker: #e6d188;
--color-btn-primary-text: #dd5241;
--color-blankstate: rgba(239, 225, 178, 0.35);
--color-blankstate-border: rgba(239, 225, 178, 0.2);
--color-blankstate-background: rgba(239, 225, 178, 0.1);
--color-text-focus: #e6d188;
--color-overlay-text-focus: #e6d188;
--color-btn-primary-focus: #e6d188;
--color-btn-social-focus: #004488;
--color-small-button-text-border-focus: #606060;
--predictive-search-focus: #262626;
--color-body: #000000;
--color-bg: #000000;
--color-bg-rgb: 0, 0, 0;
--color-bg-alt: rgba(239, 225, 178, 0.05);
--color-bg-currency-selector: rgba(239, 225, 178, 0.2);
--color-overlay-title-text: #efe1b2;
--color-image-overlay: rgba(0,0,0,0);
--color-image-overlay-rgb: 0, 0, 0;
--opacity-image-overlay: 1.0;
--hover-overlay-opacity: 0.7;
--color-border: #000408;
--color-border-form: #cccccc;
--color-border-form-darker: #b3b3b3;
--svg-select-icon: url(//cdn.shopify.com/s/files/1/0570/7631/8390/t/4/assets/ico-select.svg?v=9941581115534529698);
--slick-img-url: url(//cdn.shopify.com/s/files/1/0570/7631/8390/t/4/assets/ajax-loader.gif?v=4135686330247201572);
--font-weight-body--bold: 700;
--font-weight-body--bolder: 700;
--font-stack-header: Montserrat, sans-serif;
--font-style-header: normal;
--font-weight-header: 700;
--font-stack-body: Montserrat, sans-serif;
--font-style-body: normal;
--font-weight-body: 500;
--font-size-header: 36;
--font-size-base: 20;
--font-h1-desktop: 48;
--font-h1-mobile: 45;
--font-h2-desktop: 28;
--font-h2-mobile: 25;
--font-h3-mobile: 28;
--font-h4-desktop: 24;
--font-h4-mobile: 22;
--font-h5-desktop: 20;
--font-h5-mobile: 18;
--font-h6-desktop: 19;
--font-h6-mobile: 17;
--font-mega-title-large-desktop: 90;
--font-rich-text-large: 23;
--font-rich-text-small: 17;
--color-video-bg: #1a1a1a;
--global-color-image-loader-primary: rgba(239, 225, 178, 0.06);
--global-color-image-loader-secondary: rgba(239, 225, 178, 0.12);
font-size: calc(var(--font-size-base) * 1px);
font-family: var(--font-stack-body);
font-style: var(--font-style-body);
font-weight: var(--font-weight-body);
color: var(--color-text);
line-height: 1.5;
-webkit-font-smoothing: antialiased;
-webkit-text-size-adjust: 100%;
box-sizing: border-box;